* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 64px;
  max-width: 1024px;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container .title-container {
  margin-top: 24px;
  margin-left: -128px;
}

.container .title-container .logo-img {
  width: 276px;
}

.container .title-container .subtitle {
  font-size: 20px;
  color: #383637;
  font-family: Arial, Helvetica, sans-serif;
}

.container .title-container .subtitle strong {
  font-style: italic;
  background: #FFC579;
}