* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  font-family: Helvetica, Arial, sans-serif;
  color: #383637;
}

body >div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  flex: 1;
  max-width: 1024px;
  width: 100%;
}

.container section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .headline {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container .headline .app-img {
  animation: go-forward 1.4s;
}

.container .headline .title-container {
  margin-top: 100px;
  margin-left: -128px;
  animation: go-back 1.6s;
}

@keyframes go-back {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes go-forward {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.container .headline .title-container .logo-img {
  width: 276px;
}

.container .headline .title-container .subtitle {
  font-size: 20px;
}

.container .headline .title-container .subtitle strong {
  font-style: italic;
  background: #FFC579;
}

.container section #chevron-container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  position: absolute;
  bottom: 10px;
}

.container .section-container {
  width: 100%;
  margin-top: 128px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section-container:last-of-type {
  margin-bottom: 128px;
}

.container #habits-container #habits-title h2 {
  font-size: 32px;
  font-weight: 400;
}

.container #habits-container #habits-title h2 span {
  color: #FFC579;
  font-weight: 700;
}

.container #habits-container #habits-title #habits {
  max-width: 536px;
  margin-top: 32px;
  padding: 0;
}

.container #habits-container #habits-description {
  width: 611px;
  height: 560px;
  padding: 64px;
  line-height: 32px;
  border-radius: 32px;
  background: #FFC579;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
}

.container #habits-container #habits-description h3 {
  max-width: 317px;
  font-size: 28px;
  text-align: right;
}

.container #habits-container #habits-description p {
  font-size: 20px;
  text-align: right;
  max-width: 301px;
}

.container #stats-container #stats-title h2 {
  font-size: 32px;
  font-weight: 400;
  text-align: right;
}

.container #stats-container #stats-title h2 span {
  color: #FFC579;
  font-weight: 700;
}

.container #stats-container #stats-title #stats {
  max-width: 536px;
  margin-top: 48px;
  padding: 0;
}

.container #stats-container #stats-description {
  width: 580px;
  height: 560px;
  padding: 64px;
  line-height: 32px;
  border-radius: 32px;
  background: #D4896E;
  margin-right: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
  color: #EDCFC4;
}

.container #stats-container #stats-description h3 {
  max-width: 317px;
  font-size: 28px;
}

.container #stats-container #stats-description p {
  font-size: 20px;
  max-width: 301px;
}

.container #contact-container {
  justify-content: space-around;
}

.container #contact-container #contact-title h2 {
  font-size: 32px;
  font-weight: 400;
}

.container #contact-container #contact-title h2 span {
  color: #FFC579;
  font-weight: 700;
}

.container #contact-container #contact-title p {
  margin-top: 32px;
  font-size: 20px;
  text-align: left;
  max-width: 301px;
}

.container #contact-container #contact-title #relax {
  max-width: 536px;
  margin-top: 32px;
  padding: 0;
}

.container #contact-container #form-container form textarea {
  width: 100%;
  min-height: 140px;
  height: 60px;
  line-height: 24px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  resize: vertical;
}

.container #contact-container #form-container form input {
  font-size: 16px;
  width: 100%;
  height: 48px;
  color: #333;
  border: 1px solid #507594;
  border-radius: 8px;
  padding: 0 24px;
}

.container #contact-container #form-container form {
  width: 450px;
  max-width: 700px;
}

.container #contact-container #form-container form input {
  margin-top: 16px;
}

.container #contact-container #form-container form #input-group {
  display: flex;
}

.container #contact-container #form-container form #input-group input + input {
  margin-left: 8px;
}

.container #contact-container #form-container form .button {
  cursor: pointer;
  width: 200px;
  height: 48px;
  background: #507594;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 48px;
  transition: filter 0.2s;
}

.container #contact-container #form-container form .button:hover {
  filter: brightness(90%)
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
  width: 100%;
  height: 60px;
}

footer div {
  width: 100%;
  max-width: 1024px;
  margin: 0 32px;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: #383637;
  font-size: 16px;
}

footer strong {
  font-weight: 700;
}